[run]
source = stac_mcp
omit = 
    tests/*
    scripts/version.py
    docs/*
    assets/*
    scripts/*
    architecture/*
    .venv/*
    dist/*
    build/*
    .eggs/*
    */__init__.py
    .devcontainer/*
    .github/*
    .git/*
    .vscode/*
branch = True

[report]
show_missing = True
skip_empty = True
precision = 1
exclude_lines =
    pragma: no cover
    if __name__ == .__main__.: 
    pass
